{% extends "backend/base.html" %}

{% block content %}
<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Products</a>
                </li>
            </ul>
        </div>
        <a href="#" class="btn-download">
            <i class='bx bxs-cloud-download' ></i>
            <span class="text">Download PDF</span>
        </a>
    </div>

    <ul class="box-info">
        <li>
            <i class='bx bxs-calendar-check' ></i>
            <span class="text">
                <h3>1020</h3>
                <p>New Order</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
                <h3>2834</h3>
                <p>Visitors</p>
            </span>
        </li>
    </ul>


    <div class="products">
        <div class="head">
            <div class="id">ID</div>
            <div class="name">Name</div>
            <div class="price">Price</div>
            <div class="actions">
                Actions
            </div>
        </div>
        <div class="product">
            <div class="id">1</div>
            <div class="name">Green Car</div>
            <div class="price">&#8377; 2500</div>
            <div class="actions">
                <i class='bx bx-edit'></i>
                <i class='bx bxs-trash-alt'></i>
            </div>
        </div>
    </div>

    
</main>
{% endblock content %}