{% extends "backend/base.html" %}

{% block content %}
<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right' ></i></li>
                <li>
                    <a class="active" href="#">Products</a>
                </li>
            </ul>
        </div>
        <a href="#" class="btn-download">
            <i class='bx bxs-cloud-download' ></i>
            <span class="text">Download PDF</span>
        </a>
    </div>

    <ul class="box-info">
        <li>
            <i class='bx bxs-calendar-check' ></i>
            <span class="text">
                <h3>{{products_count}}</h3>
                <p>Total Products</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
                <h3>{{users_count}}</h3>
                <p>Total Users</p>
            </span>
        </li>
    </ul>


    <div class="products">
        <div class="head">
            <div class="id">ID</div>
            <div class="name">Name</div>
            <div class="price">Price</div>
            <div class="actions">
                Actions
            </div>
        </div>

        {% for x in products %}        
        <div class="product">
            <div class="id">{{forloop.counter}}</div>
            <div class="name">{{x.name}}</div>
            <div class="price">&#8377; {{x.price}}</div>
            <div class="actions">
                <a href="{% url 'edit-product' x.id %}"><i class='bx bx-edit'></i></a>
                <a href="{% url 'delete-product' x.id %}"><i class='bx bxs-trash-alt'></i></a>
            </div>
        </div>
        {% endfor %}
    </div>

    
</main>

<script>
    document.getElementById('dash_board').classList.add('active')
</script>
{% endblock content %}