<footer>
    <div class="footer">
      <div class="container">
        <div class="logo">
          Logo Here
        </div>
        <div class="links">
          <a href="#">Overview</a>
          <a href="#">Features</a>
          <a href="#">Pricing</a>
          <a href="#">Careers</a>
          <a href="#">Help</a>
          <a href="#">Privacy</a>
        </div>
  
        <div class="subscribe_box d-flex justify-content-between">
          <div class="subscribe">
            <input placeholder="Email Address" type="email">
            <button>Subscribe</button>
          </div>
          <p class="mb-0">&#169;	2023 Adil Shabab | All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
