<!doctype html>
{% load static %}
<html lang="en">

<head>
  <title>Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

    {% include "frontend/navbar.html" %}


  <main>

    <div class="banner">
      <div class="container">
        <h1 class="heading">Every purchase will be made with <span>Pleasure</span></h1>
        <img src="{% static 'img/banner.png' %}" alt="" class="img-fluid">
      </div>
    </div>

    <div class="products">
      <div class="container">
        <h4 class="heading">🏷️All Products</h4>
        <input id="search__input" type="text" placeholder="Search Products">
        <div class="row parent_product">


            {% for x in products %}
                <div class="col-md-4 mb-4 each-product">
                    <div class="card_">
                    <div class="image_section">
                        <img class="img-fluid" src="{{x.photo.url}}" alt="">
                    </div>
                    <div class="txt_section">
                        <h5 class="name">{{x.name}}</h5>
                        <p class="description">{{x.description}}</p>
                        <p class="price">&#8377; {{x.price}}</p>
                        <a href="{% url 'add-to-cart' x.id %}"><button class="styled_btn">Add to Cart</button></a>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>

  </main>


  {% include "frontend/footer.html" %}
  {% include "backend/alert.html" %}

  <script src="{% static 'js/script.js' %}"></script>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>

</html>