{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
  <title>Login</title>
{% endblock title %}

{% block content %}
  <div class="login_section">
    <div class="row">
        <div class="col-md-7">
            <div class="img_section">
                <img src="{% static 'img/login.png' %}" alt="">
            </div>
        </div>
        <div class="col-md-5">
            <form class="form_section">
                <h3 class="heading">Hello Again!</h3>
                <p class="description">Welcome back you've been missed!</p>

                <div class="input_div">
                    <label for="">Enter Username</label>
                    <input type="text" name="username">
                </div>
                <div class="input_div">
                    <label for="">Password</label>
                    <input type="password" name="password">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
  </div>
{% endblock content %}