{% extends "frontend/base.html" %}
{% load static %}

{% block title %}
  <title>Signup</title>
{% endblock title %}

{% block content %}
  <div class="login_section">
    <div class="row">
        <div class="col-md-7">
            <div class="img_section">
                <img src="{% static 'img/login.png' %}" alt="">
            </div>
        </div>
        <div class="col-md-5">
            <form action="{% url 'register' %}" method="POST" class="form_section">
                {% csrf_token %}
                <h5 class="signup_txt">Already have an account? <a href="">Login Now</a></h5>
                <h3 class="heading">Welcome</h3>
                <p class="description">Create a new account with us!</p>

                <div class="input_div">
                    <label for="">Enter Username</label>
                    {{form.username}}
                </div>
                <div class="input_div">
                    <label for="">Email Address</label>
                    {{form.email}}
                </div>
                <div class="password input_div">
                    <label for="">Password</label>
                    {{form.password1}}
                    <i id="password_eye" class="fa-regular fa-eye"></i>
                </div>
                <div class="password input_div">
                    <label for="">Password</label>
                    {{form.password2}}
                    <i id="password_eye" class="fa-regular fa-eye"></i>
                </div>
                <button class="mt-3 styled_btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
  </div>
{% endblock content %}